html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.login_box {
  width: 340px;

  background-color: #fff;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.slick-prev {
  left: 0% !important;
  z-index: 1;
}
.slick-next {
  right: 0% !important;
  z-index: 1;
}
/* .slick-prev:before {
  color: black !important;
}
.slick-next:before {
  color: black !important;
} */

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.slick-slide.slick-center img {
  margin-left: auto;
  margin-right: auto;
}

.slick-center {
  transform: scale(1.1);
}

.bgGray {
  background-color: #f5f5f5;
  width: 100%;
}

.thumbnail {
  padding: 0 0 15px 0;
  border-radius: 5;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
}

/* .slider {
  width: 50%;
  margin: 100px auto;
} */

/* .slick-slide {
  margin: 10px;
} */

/* .slick-slide img {
  width: 100%;
  transform: scale(0.9);
} */

/* .slick-dotted .slick-center img {
  transform: scale(1.1);
} */
