.container {
  padding: 0 0rem;
}

.main {
  min-height: 50vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #1d3072;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.loginButton {
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.google {
  background-color: #df4930;
}
.facebook {
  background-color: #507cc0;
}
.github {
  background-color: black;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.input {
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.submit {
  width: 200px;
  background-color: rgba(128, 0, 128, 0.671);
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}

.loginTitle {
  position: absolute;
  top: 150px;
  color: lightgray;
}

.link {
  color: inherit;
  text-decoration: none;
}

.google_btn {
  width: 210px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google_icon_wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 30px;
  height: 18px;
}

.btn_text {
  float: right;
  margin: 5px 5px 0 0;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.3px;
  font-family: "Roboto";
}

.hover {
  box-shadow: 0 0 6px #4285f4;
}

.active {
  background: #1669f2;
}

.judulAdmin {
  font-weight: bold;
  font-size: x-large;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.nav {
  width: 100%;
  height: 65px;
  /* position: fixed; */
  line-height: 65px;
  text-align: center;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
}

.nav div.logo a:hover {
  color: blue;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 5rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: black;
  line-height: 65px;
  font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
  color: blue;
}

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,500,700);

.bgImage {
  margin: 10px 0;
  padding: 5px;
  background-image: url("/images/Banner.jpg");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

/* * {
  font-family: Open Sans;
} */

/* .sectionFooter {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
} */

.footerDistributed {
  background: #1d3072;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footerDistributed .footerLeft,
.footerDistributed .footerCenter,
.footerDistributed .footerRight {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footerDistributed .footerLeft {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  width: 35%;
}

/* The company logo */

.footerDistributed h3 {
  color: #fff;
  font: bold 16px "Open Sans", cursive;
  margin: 0;
}

/* Footer links */

.footerDistributed .footerLinks {
  color: #ffffff;
  margin: 10px 0 12px;
  padding: 0;
}

.footerDistributed .footerCompanyName {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  margin: 10px;
}

/* Footer Center */

.footerDistributed .footerCenter {
  width: 30%;
  text-align: center;
}

/* Footer Right */

.footerDistributed .footerRight {
  width: 30%;
  text-align: end;
}

.footerDistributed .footerCompanyAbout {
  line-height: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  /* margin: 0; */
  margin: 5px 0 10px;
  padding: 0;
}

.footerDistributed .footerCompanyAbout span {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footerDistributed .footerIcons {
  margin-top: 25px;
}

.footerDistributed .footerIcons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 100%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.artikelHome {
  background: #1d3072;
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.artikelJudul {
  color: #ffff;
  font-size: xx-large;
}

.artikelColor {
  font-weight: bold;
  color: #fb7272;
}

.artikelHome .artikelDeskripsi {
  font-size: 16px;
  color: #ffff;
  padding: 6px;
  text-align: left;
  align-content: flex-start;
}

.artikelHome .artikelTombol {
  width: 98%;
  /* align-content: flex-end; */
}

.imageArtikel {
  float: left;
  width: 30%;
  margin-bottom: 10px;
  margin-left: auto;
  display: block;
}

.txtArtikel {
  float: right;
  width: 60%;
}

.txtInovasi {
  text-align: center;
  background-color: #fb7272;
  width: 40%;
  font: bold 16px sans-serif;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 5px;
}

.txtIsi {
  text-align: justify;
  font: normal 12px sans-serif;
  margin: 5px;
  padding: 5px 5px;
}

.txtTgl {
  margin: 5px;
  padding: 5px 5px;
  color: #fb7272;
}

.imageProgram {
  float: left;
  width: 30%;
  margin-bottom: 10px;
}

.txtProgram {
  float: right;
  width: 60%;
}

/* If you don't want the footer to be responsive, remove these media queries */

/* @media (max-width: 880px) {
  .footerDistributed {
    font: bold 14px sans-serif;
  }

  .footerDistributed .footerLeft,
  .footerDistributed .footerCenter,
  .footerDistributed .footerRight {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footerDistributed .footerCenter i {
    margin-left: 0;
  }
} */

/* .picSlide {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  object-position: center;
}

.wSlide {
  width: 80%;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
} */
